.import_wrap {

  h5{
    margin-bottom: 5px;
  }

  p{
    margin-bottom: 0;
    color: gray;
  }

  button{
    background: #fff;

    &[type="button"]{

      &.open{
        border-color: #d4d4d4;
        background: #f1f1f1;
      }
    }
  }

  div.module{
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e6e6e8;

    &.disabled{
      pointer-events: none;
      opacity: .5;
    }
  }

  div.wrap{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
  }

  div.progress,
  div.settings{
    display: none;
    margin-top: 15px;
  }

  div.settings{

    h3{
      font-size: .875rem;
    }

    form{
      display: block;
      width: 100%;
    }

    .formbody{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      padding: 15px;
      background: #fbfbfb;
      border-radius: 1px;
      border: 1px solid #f1f1f1;
    }

    .setting-widget{
      width: 49%;

      &.checkbox{
        margin-bottom: 16px;

        .tl_checkbox_single_container{
          margin: 18px 0 1px;
        }
      }
    }

    &.open{
      display: block;
    }
  }

  div.progress-info{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    .info {
      animation: flash 1s infinite linear;

      &:after {
        display: inline-block;
        content: '';
        width: 10px;
        height: 10px;
        margin-left: 5px;

        transform-origin: center center;
        transform: translateX(-50%) translateY(-50%);

        border-radius: 50%;
        box-shadow: inset 1px 0 0 0 #78b178;
        animation: spin 0.5s infinite linear;
      }

      &.success, &.error{
        animation: none;

        &:after{
          transform: unset;
          border-radius: unset;
          animation: none;
          box-shadow: none;
        }
      }

      &.success:after {
        content: "✓";
        color: green;
      }

      &.error:after{
        content: "✕";
        color: #800000;
      }
    }
  }

  .progress-bar{
    width: 100%;
    height: 10px;
    border: 1px solid #ccc;
    background: #f1f1f1;
    border-radius: 3px;
    margin-bottom: 5px;
    overflow: hidden;

    .progress-value{
      width: 0%;
      height: 10px;
      background: #78b178;
      transition: width .5s ease-in-out;
    }
  }
}

.section_wrap{
  margin-top: 35px;

  fieldset{
    border: 1px solid #ccc;
    padding: 15px;

    legend{
      padding: 0 5px 0 0;
      font-weight: 600;
    }
  }

  h3{
    margin-bottom: 6px;
  }

  p {
    margin-bottom: 10px;
  }

  .item{
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e6e6e8;

    &:last-child{
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: 0 none;
    }
  }

  #cron{

    .item{

      div{
        position: relative;

        font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono", "Droid Sans Mono", monospace, monospace;
        font-size: 14px;

        color: #969696;
        background: rgb(244 124 0 / 5%);
        border: 1px solid #ccc;

        border-radius: 4px;
        padding: 15px;

        a{
          position: absolute;
          right: 9px;
          top: 7px;
          bottom: 7px;

          display: flex;
          justify-content: center;
          align-items: center;

          font-weight: 600;

          padding: 0 8px;
          background: #fff;

          &:hover{
            background-color: #f6f6f6;
          }
        }
      }
    }
  }
}

@keyframes spin {
  0% {transform: rotate(0)}
  100% {transform: rotate(360deg)}
}

@keyframes flash {
  0% {opacity: .5}
  50% {opacity: 1}
  100% {opacity: .5}
}
