@charset "UTF-8";
.import_wrap h5 {
  margin-bottom: 5px;
}
.import_wrap p {
  margin-bottom: 0;
  color: gray;
}
.import_wrap button {
  background: #fff;
}
.import_wrap button[type=button].open {
  border-color: #d4d4d4;
  background: #f1f1f1;
}
.import_wrap div.module {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e6e6e8;
}
.import_wrap div.module.disabled {
  pointer-events: none;
  opacity: 0.5;
}
.import_wrap div.wrap {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
}
.import_wrap div.progress,
.import_wrap div.settings {
  display: none;
  margin-top: 15px;
}
.import_wrap div.settings h3 {
  font-size: 0.875rem;
}
.import_wrap div.settings form {
  display: block;
  width: 100%;
}
.import_wrap div.settings .formbody {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px;
  background: #fbfbfb;
  border-radius: 1px;
  border: 1px solid #f1f1f1;
}
.import_wrap div.settings .setting-widget {
  width: 49%;
}
.import_wrap div.settings .setting-widget.checkbox {
  margin-bottom: 16px;
}
.import_wrap div.settings .setting-widget.checkbox .tl_checkbox_single_container {
  margin: 18px 0 1px;
}
.import_wrap div.settings.open {
  display: block;
}
.import_wrap div.progress-info {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.import_wrap div.progress-info .info {
  animation: flash 1s infinite linear;
}
.import_wrap div.progress-info .info:after {
  display: inline-block;
  content: "";
  width: 10px;
  height: 10px;
  margin-left: 5px;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 50%;
  box-shadow: inset 1px 0 0 0 #78b178;
  animation: spin 0.5s infinite linear;
}
.import_wrap div.progress-info .info.success, .import_wrap div.progress-info .info.error {
  animation: none;
}
.import_wrap div.progress-info .info.success:after, .import_wrap div.progress-info .info.error:after {
  transform: unset;
  border-radius: unset;
  animation: none;
  box-shadow: none;
}
.import_wrap div.progress-info .info.success:after {
  content: "✓";
  color: green;
}
.import_wrap div.progress-info .info.error:after {
  content: "✕";
  color: #800000;
}
.import_wrap .progress-bar {
  width: 100%;
  height: 10px;
  border: 1px solid #ccc;
  background: #f1f1f1;
  border-radius: 3px;
  margin-bottom: 5px;
  overflow: hidden;
}
.import_wrap .progress-bar .progress-value {
  width: 0%;
  height: 10px;
  background: #78b178;
  transition: width 0.5s ease-in-out;
}

.section_wrap {
  margin-top: 35px;
}
.section_wrap fieldset {
  border: 1px solid #ccc;
  padding: 15px;
}
.section_wrap fieldset legend {
  padding: 0 5px 0 0;
  font-weight: 600;
}
.section_wrap h3 {
  margin-bottom: 6px;
}
.section_wrap p {
  margin-bottom: 10px;
}
.section_wrap .item {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e6e6e8;
}
.section_wrap .item:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: 0 none;
}
.section_wrap #cron .item div {
  position: relative;
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono", "Droid Sans Mono", monospace, monospace;
  font-size: 14px;
  color: #969696;
  background: rgba(244, 124, 0, 0.05);
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 15px;
}
.section_wrap #cron .item div a {
  position: absolute;
  right: 9px;
  top: 7px;
  bottom: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  padding: 0 8px;
  background: #fff;
}
.section_wrap #cron .item div a:hover {
  background-color: #f6f6f6;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes flash {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

/*# sourceMappingURL=backend.css.map */
